@media (max-width: 576px) {
  .nav-item {
    width: min-content;
  }
  
  .footer-icons {
    height: 2rem;
    width: 2rem;
    margin: -2rem 0.5rem;
  }

  .row {
    margin: 5rem auto;
  }

  nav {
    font-size: small;
  }

  .lead {
    font-size: 1rem;
  }

  .display-5 {
    font-size: 1.5rem;
  }

  .container {
    margin-top: 0;
  }

  .btn-primary {
    margin-right: 0;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .logo {
    width: 12rem;
    height: 5rem;
    object-fit: cover;
    margin-left: -1rem;
  }
}

.nav-link:hover {
  color: white;
}
