img {
  width: 28%;
  height: 500px;
  margin: calc(10% / 6);
}

nav {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 28%;
  margin-left: calc(10% / 6);
  padding: 1.1em 0;
}
